
hr{ 
  position: fixed;
  top: 50px;
  left: 263px;
  border:         none;
  border-left:    2px solid #e3e3e3;
  height:         90vh;
  width:          1px;       
}

body {
  overflow: hidden;
}

.myadcash {
  width: 250px;
  height: 250px;
  position: fixed;
  top: 200px;
  right: 20px;
}

.fsociety-hat {
  position: fixed;
  top: 74px;
  right: 50px;

  height: 60px;
  width: 50px;
}


.fsociety {
  position: absolute;
  top: 68px;
  left: -24px;

}

.category {
  position: fixed;
  top: 85px;
  right: 105px;
}

.text-align-center {
  position: absolute;
  top: 65px;
  left: 275px;
  right: 325px;
}



.kategoriler {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.kategoriler li {
  border: solid 1px #eee;
  display: block;
  text-align: left;
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.kategoriler li:hover {
  background-color: #f6f6f6;
  box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
  outline: none;
}

.kategoriler.open {
  max-height: 300px;
  border: none;
  box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
  border-radius: 9px;
} 
.kategoriler-btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    outline: none;
}

.kategoriler-btn:hover {
  outline: none;
  background-color: #f0f0f0;
}
.kategoriler-btn:focus {
  outline: none;
  background-color: #f0f0f0;
}
.kategoriler-wrapper {
  position: relative;
  
}

.tool-bar {
  border: none;
  position: absolute;
  top: 320px;
  left: -20px;
}

.tool-bar button {
  transition: background-color 0.6s ease;
  text-align: center;
  width: 230px;
  height: 35px;
  background-color: #ffffff;
  padding: 6px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
  text-decoration: none;
  outline: none;
}

.tool-bar button:hover {
  outline: none;
  border: none;
  background-color: #f0f0f0;
  transition: background-color 0.4s ease;
}


.text-align-center {
  width: 1000px;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.kali {
  width: 900px;
  height: 425px;
}

.ubuntu {
  width: 900px;
  height: 490px;
}

.nebios {
  width: 900px;
  height: 425px;
}

.white-hat {
  width: 750px;
  height: 550px;
}

.black-hat {
  width: 900px;
  height: 400px;

}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  
  .category {
    position: fixed;
    top: 5px;
    left: 250px;
    right: 1px;
  }
  
  .fsociety-hat {
    visibility: hidden;
  }
  
  
  .fsociety {
    visibility: hidden;
  }
  
  hr{ 
    visibility: hidden;
  }
  
  .text-align-center {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    position: fixed;
    top: 186px;
    left: 10px;
    
  }
  
  
  
  .kategoriler {
    box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
    border-radius: 9px;
    position: fixed;
    top: 70px;
    left: 250px;
    right: 1px;

    width: 160px;
    height: 93px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .kategoriler li {
    border: solid 1px #eee;
    display: block;
    text-align: left;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .kategoriler li:hover {
    background-color: #f6f6f6;
    box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
    outline: none;
    
  }
  
  .kategoriler.open {
    max-height: 97px;
    border: none;
    box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
    border-radius: 9px;
    position: fixed;
    top: 70px;
    right: 885px;
    left: 250px;
  } 
  .kategoriler-btn {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ffffff;
      border: none;
      box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.4s ease;
      outline: none;
  }
  
  .kategoriler-btn:hover {
    outline: none;
    background-color: #f0f0f0;
  }
  .kategoriler-btn:focus {
    outline: none;
    background-color: #f0f0f0;
  }
  .kategoriler-wrapper {
    position: relative;
    
  }
  
  .tool-bar {
    border: none;
    position: fixed;
    top: 70px;
    left: -30px;
  }
  
  .tool-bar button {
    transition: background-color 0.6s ease;
    text-align: center;
    width: 230px;
    height: 35px;
    background-color: #ffffff;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 9px 4px  rgba(0, 0, 0, 0.09);
    text-decoration: none;
    outline: none;
  }
  
  .tool-bar button:hover {
    outline: none;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.4s ease;
  }
  
  
  .text-align-center {
    width: 363px;
    height: 465px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
  }
  
  .kali {
    width: 350px;
    height: 225px;
  }
  
  .ubuntu {
    width: 350px;
    height: 190px;
  }
  
  .nebios {
    width: 350px;
    height: 225px;
  }
  
  .white-hat {
    width: 350px;
    height: 250px;
  }
  
  .black-hat {
    width: 350px;
    height: 225px;
  
  }
  
}
